@import '../../global.scss';

.testimonial{
  background-color: $sectionBgColor1;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @include mobile{
    justify-content: space-around;   
  }

  h1{
    font-size: 50px;
    overflow: hidden;

    @include mobile{
      font-size: 20px;
    }
  }

  .container{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile{
      flex-direction: column;
    }

    .card{
      width: 250px;
      height: 70%;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px gray;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      transition: all 1s ease;

      @include mobile{
        width: 200px;
      }

      &.featured{
        width: 300px;
        height: 80%;
        margin: 0 30px;

        @include mobile{
          width: 200px;
          margin: 5px;
          height: 100%;
        }
      }

      &:hover{
        transform: scale(1.1);
      }

      .top{
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile{
          overflow: hidden;
          padding: 8px 0;
        }

        img{
          &.left, &.right{
            height: 25px;

            @include mobile{
              padding: 5px 0;
            }
          }
          &.user{
            height: 60px;
            width: 60px;
            border-radius: 50%;
            object-fit: cover;
            margin: 0 30px;

            @include mobile{
              width: 25px;
              height: 25px;
            }
          }
        }
      }

      .center{
        padding: 10px;
        border-radius: 10px;
        background-color:$sectionBgColor2;

        @include mobile{
          font-size: 10px;
          overflow: hidden;
          margin: 5px 0;
        }
      }

      .bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h3{
          padding-bottom: 5px;

          @include mobile{
            font-size: 14px;
          }
        }
        h4{
          color: gray;

          @include mobile{
            font-size: 12px;
            padding-bottom: 5px;
          }
        }
      }
    }
  }

}